/* Import the Open Sans font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* ---------- CSS animations ---------- */
@keyframes placeholder-image {
    0%, 45% {
        background-image: url('../images/example-cat.jpg');
    }

    55%, 100% {
        background-image: url('../images/example-dog.jpg');
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/* ---------- Media queries ---------- */

@media screen and ( max-width: 649px ) {
    .image-card-wrapper {
        display: none;
    }
}

@media screen and ( max-width: 1000px ) {
    body div.image-card {
        width: 100px;
        height: 150px;
    }

    div.image-card-wrapper-title {
        top: 180px;
    }

    div.image-card img {
        height: calc(150px - .5rem);
    }
}

/* ---------- Main styles ---------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
    border-width: 0;
    border-style: solid;
    border-color: #e2e8f0;
}

header {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

#user-menu {
    position: absolute;
    top: 4rem;
    z-index: 5;
    margin-left: 1rem;
    margin-top: 1rem;
}

#avatar {
    max-width: 3rem;
    display: block;
    margin-left: 1rem;
    cursor: pointer;
    transition-duration: .35s;
}

#avatar:hover {
    opacity: .8;
}

#overlay {
    background-color: black;
    opacity: .7;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    visibility: visible;
    transition: visibility .2s, opacity .3s;
}

#overlay.hidden {
    visibility: hidden;
    opacity: 0;
    display: block;
}

.catalog-row {
    display: flex;
    justify-content: space-evenly;
}

.catalog-modal .modal-body {
    margin-left: -1rem;
    margin-right: -1rem;
    background-color: #edf2f7;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    min-width: 250px;
    transition: visibility .2s, opacity .3s;
}

.modal.hidden {
    visibility: hidden;
    opacity: 0;
    display: block;
}

.modal .empty-message {
    font-size: 1.15rem;
    text-align: center;
    color: #b5b5b5;
    padding: 1rem;
}

body.modal-open {
    overflow: hidden;
}

.modal-body {
    padding: .25rem;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.modal-body form {
    margin-left: -0.25rem;
    margin-right: -0.25rem;
}

.input.with-error input, .input.with-error .input-mock {
    border-color: #f16135;
}

.form-error, .form-subtitle, span.error {
    font-style: italic;
    font-size: .75rem;
}

.form-error, span.error {
    color: #f16135;
}

.modal-header {
    margin-bottom: .5rem;
}

#logo {
    font-size: 3rem;
}

#login-btn {
    max-width: 100px;
    margin-left: 10px;
}

.upload-btn {
    max-width: 150px;
}

.image-card-wrapper-title {
    position: absolute;
    top: 240px;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: bold;
}

.image-card-wrapper {
    position: relative;
}

.catalog-row .image-card {
    margin-left: 10px;
    margin-right: 10px;
}

.image-card-wrapper .image-card {
    top: 0;
    left: 50%;
    position: absolute;
}

div.image-card {
    padding: .5rem;
    width: 150px;
    height: 200px;
    background-color: #fafbfc;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #e6e6e6;
    border: 1px solid #eaeaea;
    border-radius: .25rem;
}

.image-container .best-prediction {
    position: absolute;
    right: 2px;
    top: 0;
    z-index: 2;
    background-color: #000000a3;
    padding: 0 2px;
    border-radius: .25rem;
    border: 1px solid white;
}

.catalog-modal .image-card {
    cursor: pointer;
}

#left-panel .best-prediction, #left-catalog-modal .best-prediction {
    color: rgb(255 125 62);
}

#right-panel .best-prediction, #right-catalog-modal .best-prediction {
    color: #07bd56;
}

.image-card img {
    height: calc(200px - .5rem);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.card, .image-card {
    padding: 1rem;
    margin-top: .5rem;
    border-radius: .25rem;
    line-height: 1.5;
}

#left-panel .image-card:nth-child(4) {
    transform: translate(-50%, 0) rotate(2deg);
    cursor: pointer;
}

#left-panel .image-card:nth-child(3) {
    transform: translate(calc(-50% + 10px), 0) rotate(10deg);
}

#left-panel .image-card:nth-child(2) {
    transform: translate(calc(-50% + 10px), 0) rotate(20deg);
}

#left-panel .image-card:nth-child(1) {
    transform: translate(calc(-50% + 10px), 0) rotate(30deg);
}

#right-panel .image-card:nth-child(4) {
    transform: translate(-50%, 0) rotate(-2deg);
    cursor: pointer;
}

#right-panel .image-card:nth-child(3) {
    transform: translate(calc(-50% - 10px), 0) rotate(-10deg);
}

#right-panel .image-card:nth-child(2) {
    transform: translate(calc(-50% - 10px), 0) rotate(-20deg);
}

#right-panel .image-card:nth-child(1) {
    transform: translate(calc(-50% - 10px), 0) rotate(-30deg);
}

.loading-spinner {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: none;
}

.spinner {
    font-size: 2rem;
}

.spinner i {
    animation: spin 1.5s linear infinite;
}

.info {
    height: 2.5rem;
    margin-top: -100px;
    width: 100%;
    color: #fafbfc;
    text-align: center;
    display: flex;
    position: absolute;
    padding: 7px;
    top: 0;
    z-index: 50;
    transition-duration: .5s;
}
    
.info p {
    margin: auto;
}

#info.notice {
    background-color: #4299e1;
}

#info.alert {
    background-color: #f16135;
}

.btn {
    padding: .5rem 1rem;
    cursor: pointer;
    transition-duration: .5s;
    display: block;
    text-decoration: none;
}

.btn:hover {
    opacity: .8;
}

a.btn.bg-blue:hover, a.btn.bg-red:hover {
    color: #fafbfc;
}

.panel {
    height: calc(100vh - 6.75rem);
}

.card-image {
    margin-bottom: 1rem;
    background-color: #edf2f7;
}

.card-image .placeholder-image {
    height: 350px;
    background-image: url('../images/example-cat.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: placeholder-image ease-out 5s infinite alternate;
}

.loading-predictions-wrapper {
    display: none;
}

.center-panel {
    max-width: 700px;
    min-width: 300px;
}

#center-panel.loading-panel .loading-spinner {
    display: block;
}

#center-panel.loading-panel .card-image .placeholder-image {
    animation: none;
    background-color: #edf2f7;
    background-image: none;
}

#center-panel.loading-panel {
    opacity: .75;
}

#center-panel.loading-panel .predictions-wrapper {
    display: none;
}

.loading-text {
    background-color: #455962;
    width: 12ch;
    height: .75rem;
    border-radius: 9999px;
    margin-top: .8rem;
    margin-bottom: .8rem;
}

.loading-predictions-wrapper .loading-text:last-child {
    width: 6ch;
}

#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
}

#center-panel.loading-panel .loading-predictions-wrapper {
    display: block;
}

.card-image img, .card-image .placeholder-image {
    display: block;
    border-radius: .25rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    max-width: 100%;
    max-height: calc(100vh - 20rem);
    margin-left: auto;
    margin-right: auto;
}

.card ul {
    margin-left: 1.5rem;
}

/* ---------- Input Styles ---------- */

.input {
    max-width: 300px;
    margin-bottom: .5rem;
    padding: .25rem;
}
.w-full .input {
    max-width: none;
}
input[type="checkbox"] {
    margin-right: .25rem;
}
input[type="text"], input[type="email"], input[type="number"], input[type="password"], input[type="time"], select, .input-mock {
    width: 100%;
    padding: .25rem .5rem;
    border: 1px solid #cad9e7;
    border-radius: .25rem;
    background-color: #fafbfc;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
label, .label-mock {
    padding: .25rem 0;
    display: block;
    font-size: .875rem;
    font-weight: 700;
}
input.disabled, .input-mock.disabled {
    cursor: default;
    background-color: #edf2f7;
    opacity: .7;
}

/* ---------- FRAMEWORK ---------- */

.link, a {
    color: #4299e1;
    text-decoration: underline;
    cursor: pointer;
}

.link:hover, a:hover {
    color: #6dade1;
}

.text-white {
    color: #fafbfc;
}

.bg-white {
    background-color: #fafbfc;
}

.text-black {
    color: #455962;
}

.text-green {
    color: #07bd56
}

.text-red {
    color: rgb(234, 42, 9)
}

.bg-black {
    background-color: #455962;
}

.text-light-gray {
    color: #edf2f7
}

.bg-light-gray {
    background-color: #edf2f7
}

.text-blue {
    background-color: #4299e1;
}

.bg-blue {
    background-color: #4299e1;
}

.bg-red {
    background-color: rgb(222, 60, 60);
}

.shadow {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

/* ---------- SIZING AND POSITION ---------- */

.hidden {
    display: none;
}

.center {
    text-align: center;
}

.block {
    display: block;
}

.display-initial {
    display: initial;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.rounded {
    border-radius: .25rem;
}

.rounded-full {
    border-radius: 9999px;
}

.p-1 {
    padding: .25rem;
}

.p-2 {
    padding: .5rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.m-1 {
    margin: .25rem;
}

.mt-1 {
    margin-top: .25rem;
}

.mb-1 {
    margin-bottom: .25rem;
}

.mb-2 {
    margin-bottom: .5rem;
}

.mx-1 {
    margin-left: .25rem;
    margin-right: .25rem;
}

.my-1 {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

.w-full {
    width: 100%;
}

.h-full {
    width: 100%;
}

.h-screen {
    height: 100vh;
}

.w-screen {
    width: 100vw;
}

/* ---------- FLEXBOX ---------- */

.flex {
    display: flex;
}

.flex-1 {
    flex: 1 1 0%;
}

.flex-auto {
    flex: 1 1 auto;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.items-stretch {
    align-items: stretch;
}

.self-center {
    align-self: center;
}

.self-stretch {
    align-self: stretch;
}

.self-start {
    align-self: flex-start;
}
